cffi==1.14.0
click==7.1.1
cryptography==2.9
dominate==2.5.1
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
flask-redis==0.4.0
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pycparser==2.20
python-dotenv==0.12.0
redis==3.4.1
six==1.14.0
visitor==0.1.3
Werkzeug==1.0.0
WTForms==2.2.1
