{% extends "base.html" %}

{% block scontent %}
    <div id="notifications"></div>
    <h1>{{ _('Generate your password!')}}</h1>

  <div class="form" role="form" id="PasswordGenerator">
      <div class="form-row">
          <div class="form-group col-xs-4 col-md-4">
              <label class="control-label" for="lenght">{{ _('Lenght:')}}</label>
              <input type="number" name="lenght" id="lengthInput" placeholder="{{ _('Lenght') }}" value="8" class="form-control">
              <p class="has-error" id="passwordLenghtError"></p>
          </div>
          <div class="form-group col-xs-4 col-md-4">
              <label class="control-label" for="lenght">{{ _('Special characters:')}}</label>
              <input type="text" id="specialInput" placeholder="{{ _('Special Characters')}}" value="@#$%_-*"  class="form-control">
          </div>
          <div class="form-group col-xs-4 col-md-4">
              <label class="control-label" for="lenght">{{ _('Your password:')}}</label>
              <textarea readonly id="passwordValue" class="form-control z-depth-1" rows="1"></textarea>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group">
              <button id="getPassword" class="btn btn-info btn-lg btn-block align-self-end pull-right" type="submit">
                  {{ _('Generate password!')}}</button>
              <p id="copyPassword"></p>
          </div>
      </div>
  </div>

<script>
const getPassword = (length, arg) => {
  length = document.getElementById("lengthInput").value || 16;
  arg = document.getElementById("specialInput").value || "~!@#$%^&*()_+-=[]{}|;:.,?><";
  if (length < 4) {
      updateViewOuter("notifications", "<div id=\"notifications\" class=\"alert alert-danger\" role=\"alert\">Length must be at least 4</div>");
    return console.error("Length must be at least 4")
  } else if (length > 99) {
      updateViewOuter("notifications", "<div id=\"notifications\" class=\"alert alert-danger\" role=\"alert\">Length must be less then 100</div>");
    return console.error("Length must be less then 100")
  }
  const lowercase = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];
  const uppercase = lowercase.join("").toUpperCase().split("");
  const specialChars = arg.split("").filter(item => item.trim().length);
  const numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
  let hasNumber = false;
  let hasUpper = false;
  let hasLower = false;
  let hasSpecial = false;

  if (Number(length)) {
    length = Number(length)
  } else {
    return console.error("Enter a valid length for the first argument.")
  }

  let password = [];
  let lastChar;
  for (let i = 0; i < length; i++) {
    let char = newChar(lowercase, uppercase, numbers, specialChars);
    if (char !== lastChar) {
      password.push(char);
      lastChar = char
      if (Number(char)) {
        hasNumber = true
      }
      if (lowercase.indexOf(char) > -1) {
        hasLower = true
      }
      if (uppercase.indexOf(char) > -1) {
        hasUpper = true
      }
      if (specialChars.indexOf(char) > -1) {
        hasSpecial = true
      }
    } else {
      i--
    }
    if (i === length - 1 && (!hasNumber || !hasUpper || !hasLower || !hasSpecial)) {
      hasNumber = false;
      hasUpper = false;
      hasLower = false;
      hasSpecial = false;
      password = [];
      i = -1;
    }
  }

  function newChar(lower, upper, nums, specials) {
    let set = [lower, upper, nums, specials];
    let pick = set[Math.floor(Math.random() * set.length)];
    return pick[Math.floor(Math.random() * pick.length)]
  }
  updateView("passwordValue", password.join(""));
  updateViewOuter("notifications", "<div id=\"notifications\" class=\"alert alert-info\" role=\"alert\">Password copied to your clipboard!</div>");
  document.getElementById("getPassword").addEventListener("click", copyPassword);
}

const copyPassword = () => {
  let text = document.getElementById("passwordValue").textContent;
  navigator.clipboard.writeText(text);
};

const updateView = (targetId, method = '') => {
  let currentElement = document.getElementById(targetId);
  currentElement.innerText = method;
}
const updateViewOuter = (targetId, method = '') => {
  let currentElement = document.getElementById(targetId);
  currentElement.outerHTML = method;
}

document.getElementById("getPassword").addEventListener("click", getPassword);
const form = document.getElementById( "PasswordGenerator" );
form.addEventListener("submit"),function ( event ) {
    event.preventDefault();
    getPassword()
}

</script>

{% endblock %}