<p>Hi,</p>

<p>Someone shared with you his secret.</p>
<p>Your SecretLink is:
<a href="{{ url_for('secret.read_secret', secret_id=secret.secret_id, _external=True) }}">
    {{ url_for('secret.read_secret', secret_id=secret.secret_id, _external=True) }}
</a>
<p>It will be available till {{ secret.end_of_life }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<br>
<p>Sincerely,<br>The SecretShare Team</p>
<img src="{{ url_for('static', filename='logo.png', _external=True) }}" height="50" alt="">