{% extends "base.html" %}

{% block scontent %}
    <div class="row">
    <h1>Create your secret!</h1>
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
    <div class="form-row">
            <div class="form-group">
  {{ wtf.form_field(form.secret) }}
            </div>
    </div>
    <div class="form-row form-inline">
  <div class="form-group">
      {{ wtf.form_field(form.passphrase) }}
                {{ wtf.form_field(form.ttl) }}
            </div>
    </div>
            <div class="form-row">
                <div class="form-group-lg">
                    <br>
                {{ wtf.form_field(form.submit, button_map={'submit':'danger btn-lg btn-block align-self-end pull-right'}) }}
            </div>
      </div>

</form>
</div>
{% endblock %}