{% extends "base.html" %}

{% block app_content %}
    <div class="row">
            <h1>{{ _('Create your secret!')}}</h1>

        <form class="form col-md-12" method="post" role="form">
            {{ form.hidden_tag() }}
{#            {{ wtf.form_errors(form, hiddens="only") }}#}
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ wtf.form_field(form.secret) }}
                    {% if form.secret.errors %}
                        <ul class="errors">
                            {% for error in form.secret.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ wtf.form_field(form.ttl) }}
                </div>
                <div class="form-group col-md-4">
                    {{ wtf.form_field(form.passphrase) }}
                </div>
                {% if form.recaptcha %}
                <div class="form-group col-md-4 pull-right">{{ form.recaptcha }}
                      {% if form.recaptcha.errors %}
                         <p style="color: #ff0000">Validation Failed! Please prove you are not a robot.</p>
                      {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="form-row">
                <div class="form-group-lg">
                    <br>
                    {{ wtf.form_field(form.submit, button_map={'submit':'danger btn-lg btn-block align-self-end pull-right'}) }}
                </div>
            </div>
        </form>
</div>
{% endblock %}