{% extends "base.html" %}

{% block app_content %}
        {% if  form %}
            <div id="ShowSecret">
            <h1>{{ _('Open your secret') }}</h1>

                    <form class="form" method="post" role="form" id="openSecret">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
            <div class="form-group">
                            {% if passphrase %}
                {{ wtf.form_field(form.passphrase) }}
                            {% endif %}
                {{ wtf.form_field(form.submit, button_map={'submit':'danger btn-lg btn-block align-self-end pull-right'}) }}
            </div>
{#            {{ form.captcha }}#}
</form>
            <script>
window.addEventListener( "load", function () {
  function sendData() {
    const XHR = new XMLHttpRequest();
    const FD = new FormData( form );
    XHR.addEventListener( "load", function(event) {
        var json_obj = JSON.parse(event.target.responseText);
        if (json_obj.secret) {
            document.getElementById("ShowSecret").outerHTML  = "<div class=\"form-group shadow-textarea\"><h1>{{ _('Your secret:') }}</h1><textarea readonly class=\"form-control z-depth-1\" rows=\"3\">" + json_obj.secret + "</textarea></div>";
        } else {
            document.getElementById("ShowSecret").outerHTML = "<h1>{{ _('No secrets here!') }}</h1><p>{{ _('Probably you need to re-check URL or passphrase') }}</p>"
        }

    } );
    XHR.addEventListener( "error", function( event ) {
      alert( '{{ _('Oops! Something went wrong.') }}' );
    } );
    XHR.open( "POST", "{{ url_for('secret.read_secret', secret_id=secret_id) }}" );
    XHR.send( FD );
  }
  const form = document.getElementById( "openSecret" );
  form.addEventListener( "submit", function ( event ) {
    event.preventDefault();
    sendData();
  } );
} );
            </script>
        {% else %}
            <h1>{{ _('No secrets here!') }}</h1>
            <p><a href="{{ url_for('secret.index') }}">{{ _('Let\'s create new secret!') }}</a></p>
        {% endif %}
{% endblock %}