{% extends "base.html" %}

{% block app_content %}
        {% if secret %}
            <div class="form-group shadow-textarea">
            <p>{{ _('Share link:') }}</p>
                    <textarea readonly class="form-control z-depth-1" rows="1">{{ url_for('secret.read_secret', secret_id=secret_id, _external=True) }}</textarea>
            </div>
            <p><b>{{ _('Created at:')}}</b> {{ moment(secret.created_at).format('LLL') }}, {{ moment(secret.created_at).fromNow() }}</p>
            <p><b>{{ _('End of life:')}}</b> {{ moment(secret.end_of_life).format('LLL') }}, {{ moment(secret.end_of_life).fromNow() }} </p>
            <hr>
            {{ wtf.quick_form(burn_form, button_map={'submit':'danger'}) }}
            <hr>
{#            <p><bootstrap>Send passphrase via SMS:</bootstrap></p>#}
{#            <form class="form" method="post" role="form">#}
{#              {{ sms_form.hidden_tag() }}#}
{#              {{ wtf.form_errors(sms_form, hiddens="only") }}#}
{#                  <div class="form-row form-inline">#}
{#                        <div class="form-group">#}
{#                            {{ wtf.form_field(sms_form.country_code) }}#}
{#                            {{ wtf.form_field(sms_form.msisdn) }}#}
{#                            {{ wtf.form_field(sms_form.submit_sms) }}#}
{#                        </div>#}
{#                </div>#}
{#            </form>#}
{#            <hr>#}
            <p><b>Send SecretLink via email:</b></p>
            <form class="form" method="post" role="form">
              {{ sms_form.hidden_tag() }}
              {{ wtf.form_errors(email_form, hiddens="only") }}
                  <div class="form-row form-inline">
                        <div class="form-group">
                            {{ wtf.form_field(email_form.email) }}
                            {{ wtf.form_field(email_form.submit_email) }}
                        </div>
                </div>
            </form>
        {% else %}
            <p>{{ _('No secrets here!')}}</p>
        {% endif %}
{% endblock %}