{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">SecretShare</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href=""></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
 {% block content %}
         <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
<div class="alert alert-info" role="alert">{{ message }}</div>            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block scontent %}
        {% endblock %}
         </div>
     <div class="navbar navbar-text navbar-fixed-bottom">
    <p>© 2020 Copyright:
        <a href="https://www.icoqu.com/">icoqu.com</a> under MIT license. Source code is avaliable at:<a href="https://github.com/Icoqu/SecretShare">https://github.com/Icoqu/SecretShare</a></p>
</div>
 {% endblock %}
</body>
</html>