{% extends "base.html" %}

{% block scontent %}
        {% if  secret %}
            <div id="ShowSecret">
            <p>Open your secret:</p>
            <button onclick="showSecret('{{ url_for('show_secret', secret_id=secret_id) }}')" type="button" class="btn btn-danger btn-lg btn-block">Open</button>
            </div>
            <script>
            function showSecret(secretURL) {
                var Httpreq = new XMLHttpRequest(); // a new request
                Httpreq.open("GET",secretURL,false);
                Httpreq.send(null);
                var json_obj = JSON.parse(Httpreq.responseText);
                console.log(json_obj)
                document.getElementById("ShowSecret").outerHTML  = "<div class=\"form-group shadow-textarea\"><p>Your secret:</p><textarea readonly class=\"form-control z-depth-1\" rows=\"3\">" + json_obj.secret + "</textarea></div>";
                }
            </script>
        {% else %}
            <p>No secrets here!</p>
        {% endif %}
{% endblock %}


