{% extends "base.html" %}

{% block scontent %}
        {% if  secret %}
            <div id="ShowSecret">
            <h1>Open your secret</h1>
                {% if form %}
                    <form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
            <div class="form-group">
                {{ wtf.form_field(form.passphrase) }}
                {{ wtf.form_field(form.submit, button_map={'submit':'danger btn-lg btn-block align-self-end pull-right'}) }}
            </div>

</form>
                    {% else %}
            <button onclick="showSecret('{{ url_for('read_secret', secret_id=secret_id) }}')" type="button" class="btn btn-danger btn-lg btn-block">Open</button>
            {% endif %}
                    </div>
            <script>
            function showSecret(secretURL) {
                var Httpreq = new XMLHttpRequest(); // a new request
                Httpreq.open("GET",secretURL,false);
                Httpreq.send(null);
                var json_obj = JSON.parse(Httpreq.responseText);
                document.getElementById("ShowSecret").outerHTML  = "<div class=\"form-group shadow-textarea\"><p>Your secret:</p><textarea readonly class=\"form-control z-depth-1\" rows=\"3\">" + json_obj.secret + "</textarea></div>";
                }
            </script>
        {% else %}
            <h1>No secrets here!</h1>
        {% endif %}
{% endblock %}


