{% extends "base.html" %}

{% block scontent %}
        {% if secret %}
            <div class="form-group shadow-textarea">
            <p>Share link:</p>
            <textarea readonly class="form-control z-depth-1" rows="1">{{ url_for('main.read_secret', secret_id=secret_id, _external=True) }}</textarea>
            </div>
            <p><b>Created at:</b> {{ secret.created_at }}</p>
            <p><b>End of life:</b> {{ secret.end_of_life }}</p>
            <button onclick="burnSecret('{{ url_for('main.read_secret', secret_id=secret_id) }}')" type="button" class="btn btn-danger"><b>Burn the secret!</b></button>
            <script>
            function burnSecret(secretURL) {
                var Httpreq = new XMLHttpRequest(); // a new request
                Httpreq.open("DELETE",secretURL,false);
                Httpreq.send(null);
                location.reload();
                }
            </script>
        {% else %}
            <p>No secrets here!</p>
        {% endif %}
{% endblock %}